body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

input, select, button {
    padding: 10px;
    margin: 5px;
    width: 90%;
}

button {
    background: teal;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.budget-box {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background: lightgray;
    border-radius: 10px;
}

#progressFill {
    height: 100%;
    width: 0%;
    background: green;
    border-radius: 10px;
}
